
:root{
--Cyan: hsl(179, 62%, 43%);
--Bright_Yellow: hsl(71, 73%, 54%);
--Light_Gray: hsl(204, 43%, 93%);
--Grayish_Blue: hsl(218, 22%, 67%);
font-family: 'Karla', sans-serif;
--font_400: 400;
--font_700: 700;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    color: var(--Light_Gray); 
    font-size: 1.6rem;
    height: 100vh;
    background-color: var(--Light_Gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 50%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}


.community{
   grid-column: 1 / -1;
   grid-row: 1 / 2;
   background-color: white;
}

.other_info_sec{
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.price{
   grid-column: 1 / 2;
   grid-row: 1 /-1;
   background-color: var(--Cyan);
}

.why_us{
    grid-column: 2 / -1;
    grid-row: 1 /-1;
    background-color: #4abebd;
}

.sec{
    padding: 4rem;
}

.community #main_heading{
    color: var(--Cyan);
    font-size: 3rem;
    font-weight: var(--font_700);
}
.desc_text{
    margin-top: 1rem;
}
.desc_heading{
    color: var(--Bright_Yellow);
}
.hh3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.description_text{
    font-size: 1.4rem;
    color: var(--Grayish_Blue);
    font-weight: var(--font_700);
    line-height: 2.5rem;
}

.price .ppm #price_tag{
    font-size: 3.5rem;
    font-weight: var(--font_700);
    margin-right: 0.5rem;
} 

.price .ppm{
    margin-top: 2rem;
}

.price .ppm #per_month{
    color: hsl(200, 6%, 79%);
}

.price #ppd{
    margin-top: 1rem;
}

.price .btn{
    width: 100%;
    margin-top: 3rem;
    font-size: 1.6rem;
    color: var(--Light_Gray);
    background-color: var(--Bright_Yellow);
    font-weight: var(--font_700);
    box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    border-radius: 0.6rem;
    padding: 1.5rem 0;
}

.why_us .point_list{
    list-style: none;
    margin-top: 1.5rem;
}

.why_us .point_list li{
    line-height: 2rem;
}