
:root{
--Cyan: hsl(179, 62%, 43%);
--Bright_Yellow: hsl(71, 73%, 54%);
--Light_Gray: hsl(204, 43%, 93%);
--Grayish_Blue: hsl(218, 22%, 67%);
font-family: 'Karla', sans-serif;
--font_400: 400;
--font_700: 700;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    height: 100vh;
    background-color: var(--Light_Gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.community_sec{
   grid-column: 1 / -1;
   grid-row: 1 / 2;
   background-color: white;
   padding: 4rem;
}

.other_info_sec{
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.price_sec{
   grid-column: 1 / 2;
   grid-row: 1 /-1;
   background-color: var(--Cyan);
}

.why_us{
    grid-column: 2 / -1;
    grid-row: 1 /-1;
    background-color: #4abebd;
}